*{
    background-color: ivory;
   
}

h1 {
    color: black;
    background-color: ghostwhite;
    text-decoration: underline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul > li > a  {
padding: 18px;
margin-right: 0;
text-transform: uppercase;
display: block;
color:red;
text-decoration: none;
}
table {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
tr {
   padding: 10px;
   border: 1px solid black;
   border-collapse: collapse; 
}
td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

footer{
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    color: goldenrod;
}

img{
    padding-left: 40px;
}